.card {
  min-height: 100%;
  padding-top: 5%;
}

#individual .card {
  min-height: 0%;
  padding-top: 5%;
}

div.photo {
  text-align: center;
  height: 400px;
  padding-bottom: 15px;
  border-bottom: 1px solid #666;
}
img.photo {
  height: 100%;
}
.statement {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 24px;
}
.words {
  padding-left: 10px;
  padding-right: 10px;
}
.who {
  font-weight: 600;
  line-height: 100%;
}

.who a {
  color: #333;
}
