    {% for o in offenders %}
    <div class="span10 offset1 card">
      {% if o.photo %}<div class="photo"><img class="photo" src="{{o.photo}}"/></div>{% endif %}
      <div class="words">
        <p class="statement">{{o.statement|linebreaksbr}}</p>
        <p class="who">
          {{o.name_first}} {{o.name_last}}, {{o.age}}<br />
          {{o.county}} county
        </p>
        <a href="/{{o.number}}"><i class="icon-arrow-right icon-gray permalink">&nbsp</i></a>
       </div>
    </div>
    {% endfor %}
