<html>
  <head>
    <title>Lasting Statement</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/screen.css" rel="stylesheet">
    <script src="static/jquery-1.7.2.js"></script>
    <!--<script src="static/jquery.lazyload.js"></script>-->
    <script src="static/jquery.scrollto.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32949975-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body id="individual">
    <div class="span10 offset1" style="padding-top: 1%;">
      <h1><a href="/">Lasting Statement</a></h1>
      <hr />
    </div>

    {% include "templates/_offenders.html" %}

    <div id="footer" class="span10 offset1" style="color: #CCC; text-align: right;">
      <p style="padding-right: 10px;">project by <a href="http://term.ie/blog/lasting-statement">termie</a>
    </div>
  </body>
</html>
